.popup {
  color: red;
  position: fixed;
  top: 60px;
  left: 20px;
  z-index: 10000;
  width: 140px;
  height: 250px;
  opacity: 50%;
  background: black;
  border: 5px solid orange;
}

p {
  text-align: left;
  margin: 5px;
}
